# Part One

You're already almost 1.5km (almost a mile) below the surface of the ocean, already so deep that you can't see any sunlight. What you can see, however, is a giant squid that has attached itself to the outside of your submarine.

Maybe it wants to play bingo?

Bingo is played on a set of boards each consisting of a 5x5 grid of numbers. Numbers are chosen at random, and the chosen number is **marked** on all boards on which it appears. (Numbers may not appear on all boards.) If all numbers in any row or any column of a board are marked, that board wins. (Diagonals don't count.)

The submarine has a bingo subsystem to help passengers (currently, you and the giant squid) pass the time. It automatically generates a random order in which to draw numbers and a random set of boards (your puzzle input). For example:

```
7,4,9,5,11,17,23,2,0,14,21,24,10,16,13,6,15,25,12,22,18,20,8,19,3,26,1

22 13 17 11  0
 8  2 23  4 24
21  9 14 16  7
 6 10  3 18  5
 1 12 20 15 19

 3 15  0  2 22
 9 18 13 17  5
19  8  7 25 23
20 11 10 24  4
14 21 16 12  6

14 21 17 24  4
10 16 15  9 19
18  8 23 26 20
22 11 13  6  5
 2  0 12  3  7
```

After the first five numbers are drawn **(7, 4, 9, 5, and 11)**, there are no winners, but the boards are marked as follows (shown here adjacent to each other to save space):

```
22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
```

After the next six numbers are drawn (17, 23, 2, 0, 14, and 21), there are still no winners:
```
22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
```

Finally, 24 is drawn:
```
22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
```

At this point, the third board wins because it has at least one complete row or column of marked numbers (in this case, the entire top row is marked: 14 21 17 24 4).

The score of the winning board can now be calculated. Start by finding the sum of all unmarked numbers on that board; in this case, the sum is 188. Then, multiply that sum by the number that was just called when the board won, 24, to get the final score, 188 * 24 = 4512.

To guarantee victory against the giant squid, figure out which board will win first. What will your final score be if you choose that board?

In [1]:
import numpy as np
import pandas as pd

In [2]:
file = open('input.txt','r')
line = file.readline()
file.close()

string_list = line.split(',')
integer_map = map(int, string_list)
numbers = np.asarray(list(integer_map))

print(numbers)

[67 31 58  8 79 18 19 45 38 13 40 62 85 10 21 96 56 55  4 36 76 42 32 34
 39 89  6 12 24 57 93 47 41 52 83 61  5 37 28 15 86 23 69 92 70 27 25 53
 44 80 65 22 99 43 66 26 11 72  2 98 14 82 87 20 73 46 35  7  1 84 95 74
 81 63 78 94 16 60 29 97 91 30 17 54 68 90 71 88 77  9 64 50  0 49 48 75
  3 59 51 33]

In [3]:
data = pd.read_csv('input.txt', skiprows=2, header=None, delim_whitespace=True)
data[0:10]

    0   1   2   3   4
0  12  75  58  21  87
1  55  80  14  63  17
2  37  35  76  92  56
3  72  68  51  19  38
4  91  60  34  30  88
5   0  66   5  51   8
6  45  57  31   3  62
7   7  60  40  29  90
8  80  19  47  86  81
9  95  69  68  53  93

In [4]:
winning_idx = -1
for number in numbers:
    data = data.replace(to_replace=number, value=np.NAN)

    for i in data.index:
        if i % 5 == 0 and (data.loc[i:i+4,:].isnull().all().any() or data.loc[i:i+4,:].isnull().all(axis=1).any()):
            winning_idx = i
            break
    
    if winning_idx != -1:
        last_number = number
        break

print('Winning bingo table:')
print(data.loc[winning_idx:winning_idx+4,:])

Winning bingo table:
        0     1     2     3     4
450  99.0  54.0  74.0  83.0  92.0
451  27.0  53.0  15.0   NaN   NaN
452  94.0  36.0  63.0  29.0  91.0
453   NaN   NaN   NaN   NaN   NaN
454   9.0  95.0  23.0  98.0  33.0

In [5]:
sum_of_unmarked_numbers = data.loc[winning_idx:winning_idx+4,:].sum().sum()
final_score = sum_of_unmarked_numbers * last_number
print(final_score)

10680.0

# Part Two

On the other hand, it might be wise to try a different strategy: let the giant squid win.

You aren't sure how many bingo boards a giant squid could play at once, so rather than waste time counting its arms, the safe thing to do is to figure out which board will win last and choose that one. That way, no matter which boards it picks, it will win for sure.

In the above example, the second board is the last to win, which happens after 13 is eventually called and its middle column is completely marked. If you were to keep playing until this point, the second board would have a sum of unmarked numbers equal to 148 for a final score of 148 * 13 = 1924.

Figure out which board will win last. Once it wins, what would its final score be?

In [8]:
data = pd.read_csv('input.txt', skiprows=2, header=None, delim_whitespace=True)

winning_idx = -1
last_idx = -1
for number in numbers:    
    data = data.replace(to_replace=number, value=np.NAN)

    for i in data.index:
        if i % 5 == 0 and (data.loc[i:i+4,:].isnull().all().any() or data.loc[i:i+4,:].isnull().all(axis=1).any()):
            winning_idx = i
#             print('Winning index {}'.format(i))
            
            if len(data) == 5:
                print('This was the last winning table!')
                last_number = number
                last_idx = winning_idx
                break

            data.drop([i, i+1, i+2, i+3, i+4], inplace=True)
    
    if last_idx != -1:
        break

data.loc[winning_idx:winning_idx+4,:]

Winning index 450
Winning index 20
Winning index 380
Winning index 145
Winning index 305
Winning index 340
Winning index 90
Winning index 165
Winning index 295
Winning index 95
Winning index 115
Winning index 245
Winning index 185
Winning index 195
Winning index 405
Winning index 265
Winning index 275
Winning index 480
Winning index 190
Winning index 30
Winning index 65
Winning index 150
Winning index 315
Winning index 465
Winning index 320
Winning index 160
Winning index 35
Winning index 60
Winning index 240
Winning index 455
Winning index 495
Winning index 75
Winning index 400
Winning index 440
Winning index 460
Winning index 40
Winning index 85
Winning index 260
Winning index 270
Winning index 415
Winning index 475
Winning index 50
Winning index 135
Winning index 210
Winning index 250
Winning index 300
Winning index 155
Winning index 255
Winning index 285
Winning index 215
Winning index 55
Winning index 110
Winning index 360
Winning index 15
Winning index 105
Winning index 125
Winning index 140
Winning index 220
Winning index 230
Winning index 490
Winning index 310
Winning index 335
Winning index 45
Winning index 170
Winning index 205
Winning index 370
Winning index 425
Winning index 430
Winning index 0
Winning index 120
Winning index 180
Winning index 325
Winning index 410
Winning index 445
Winning index 330
Winning index 70
Winning index 80
Winning index 350
Winning index 395
Winning index 200
Winning index 390
Winning index 280
Winning index 290
Winning index 485
Winning index 5
Winning index 10
Winning index 435
Winning index 225
Winning index 345
Winning index 355
Winning index 375
Winning index 25
Winning index 235
Winning index 365
Winning index 385
Winning index 130
Winning index 175
Winning index 420
Winning index 100
Winning index 470
This was the last winning table!

        0     1     2     3     4
470   NaN  49.0  71.0  59.0  90.0
471   NaN   NaN   NaN   NaN   NaN
472  48.0   NaN   NaN   NaN   NaN
473  88.0   NaN   NaN   NaN   NaN
474   NaN   NaN  64.0   NaN   NaN

In [ ]:
# data = pd.read_csv('input.txt', skiprows=2, header=None, delim_whitespace=True)
# data.loc[winning_idx:winning_idx+4,:]

In [7]:
sum_of_unmarked_numbers = data.loc[winning_idx:winning_idx+4,:].sum().sum()
final_score = sum_of_unmarked_numbers * last_number
print(final_score)

31892.0